* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}
h1 {
  padding: 1rem 2rem;
  background-color: #333;
  color: #efefef;
  border-radius: 1rem;
}
.one {
  padding: 1rem 2rem;
  font-size: 1.3rem;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  border: none;
  outline: none;
  transition: background 0.4s;
}
.one:hover {
  background: rgb(214, 214, 214);
}
