body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background-color: black;
}
.btn span{
    position: relative;
    z-index: 1;
}

.btn{
    border-radius: 10px;
    background: pink;
    padding: 20px 40px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}
.btn::before{
    content: "";
    position: absolute;
    background-color: orangered;
    width: 0;
    height: 0;
    left: var(--Xpos);
    top: var(--Ypos);
    transform: translate(-50%,-50%);
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;


}
.btn:hover::before{
    width: 300px;
    height: 300px;
    
    
}